{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
    {% for classification, file_name  in classification_result %}
        <div class="text-center">
            <p>
                <img src="{{ '../static/file_name'.replace('file_name', file_name) }}" alt="{{ file_name }}" 
                    style="float:left">
                {{classification.replace('_',' ')}}
            </p>
        </div>
    {% endfor %}

{% endblock %}